{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary" id="global-header">
    <a class="navbar-brand" href="/"><img src="{% static 'images/lease.png' %}" alt="lease" width="30px">企租租</a>
    <ul class="navbar-nav">
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="/">Active</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="/">Link</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="/">Link</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="/">Disabled</a>#}
{#        </li>#}
{##}
{#        <li class="nav-item dropdown">#}
{#            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">#}
{#                商品种类#}
{#            </a>#}
{#            <div class="dropdown-menu">#}
{#                <a class="dropdown-item" href="/">Link 1</a>#}
{#                <a class="dropdown-item" href="/">Link 2</a>#}
{#                <a class="dropdown-item" href="/">Link 3</a>#}
{#            </div>#}
{#        </li>#}
    </ul>

    {#下面是靠右部分#}
{#<div class="d-flex justify-content-end">#}
{#    111#}
{#</div>#}
    <ul class="ml-auto">
        <a href="/" style="color: white;">
            <button type="button" class="btn btn-primary" id='login-button' onclick="send_msg()">成为租赁者</button>
        </a>


        {% if request.session.phone %}
            <font style="color: white">{{ request.session.phone }}</font>
            <a href="{% url 'customer:logout' %}" style="color: white;margin-left: 10px">退出</a>
        {% else %}
            <a href="{% url 'customer:register' %}" style="color: white;">
                <button type="button" class="btn btn-primary" id='login-button'>登录</button>
            </a>
        {% endif %}


        {#        <a href="/" style="color: white;margin-left: 10px">#}
        <button type="button" class="btn btn-primary">
            <a href="{% url 'cart:cart' %}" style="color: white">

                {% if cart_num == -1 %}
                    <div>我的购物车</div>
                {% else %}
                    我的购物车<span class="badge badge-light" style="margin-left: 10px" id="cart-badge">{{ cart_num }}</span>

                {% endif %}

            </a>
        </button>
        {#        </a>#}
    </ul>
</nav>

<script>
    function send_msg() {
        confirm('请将联系方式和准备出租的设备详情发往我们的工作邮箱：haifeng0130@126.com，我们的工作人员会及时与您联系。或者电话：18611429502，了解详情。')
    }
</script>